.App {
    text align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.ingredient__title {
    margin: 0 0 15px;
}

.ingredient__input {
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid;
    padding-left: 5px;
}

.ingredient__btn {
    height: 34px;
    color: white;
    background: #61dafb;
    border: none;
    margin: 0 3px 0 3px;
    font-size: 16px;
    cursor: pointer;
}

.ingredient__clear {
    background: #ff5959;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    cursor: pointer;
}

.ingredient__clear.invisible {
    display: none;
}

.ingredient__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.ingredient__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    min-width: 150px;
    line-height: 1;
    height: 30px;
}

.ingredient__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 2rem;
    margin: 0rem 2rem 2rem;
    border-bottom: 1px solid;
}

.ingredient__extras {
    font-size: 16px;
    border: none;
    border-bottom: 2px solid;
    width: 40px;
    text-align: center;
    padding: 4px 0;
    margin-left: 10px;
}

.ingredient__extras-label {
    margin: 1rem 0;
    color: #757575;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipes__title {
    margin: 0 1rem 0 0;
}

.recipes__search {
    background: #61dafb;
    border: none;
    padding: 7px 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.recipes__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes__item {
    background: #ebebeb;
    margin-bottom: 10px;
    padding: 5px 0 15px;
}

.recipe__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    justify-content: space-between;
}

.recipe__title {
    text-align: center;
    margin: 10px 20px;
    font-size: 20px;
    color: #ff5a59;
}

.recipe__image-wrap {
    width: calc(50% - 20px);
}

.recipe__image {
    max-width: 100%;
}

.recipe__info {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
}

.recipe__ing-list {
    padding: 0;
    list-style-position: outside;
}

.recipe__link {
    margin: 20px auto;
    text-decoration: none;
    background: #ff5a59;
    color: white;
    letter-spacing: 0.7px;
    padding: 7px 15px;
}








@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
